$orange: #fc7b03;

$ink: #062f4f;
$embers: #b82601;
$posy: #813772;

$paper: #d5d5d5;

$blackboard: #565656;

$navy_blue: #18121e;
$gunmetal: #233237;
$rusty_red: #984b43;
$warm_yellow: #eac67a;

$background-color: $navy_blue;
// $font-color: #b7b7b6;
$font-color: $paper;
$font-color-code: #888;

$high-light-color: $orange;
