@import '../../styles/colors.scss';

.container {
  background-color: rebeccapurple;
  margin-bottom: 1.45rem;
}

.header {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

%link {
  color: white;
  text-decoration: none;
}

.home {
  @extend %link;
}

.menu {
  line-height: 1.1;
}

.menuItem {
  @extend %link;
  padding: 0;
}